<%= simple_form_for @card ,defaults: { required: false } do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@card.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :original_text, as: :string, :label => 'Оригинальный текст', :error => false %>
  <%= f.input :translated_text, as: :string, :label => 'Переведенный текст', :error => false%>
  <%= f.input :review_date, as: :string, :input_html => { :value => Date.today},:label => 'Дата просмотра', :readonly => true %>
  <%= f.button :submit,'Cоздать', class: "btn-primary" %>
<% end %>