
<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('activerecord.attributes.card.original_text') %></th>
      <th scope="col"><%= t('activerecord.attributes.card.translated_text') %></th>
      <th scope="col"><%= t('activerecord.attributes.card.review_date') %></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @cards.each_with_index do |card,index| %>
    <tr>
      <th scope="row"><%=index += 1%></th>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date %></td>
      <td><%= link_to t(:link_show), card_path(card) %></td>
      <td><%= link_to t(:link_edit), edit_card_path(card) %></td>
      <td><%= link_to t(:link_destroy), card_path(card),
              method: :delete,
              data: { confirm: t(:confirm)} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to t(:link_back), "/"%>
